<!DOCTYPE html>
<html>
  <head>
    <title>Gravatar</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
       <div class="header clearfix">
         <nav>
           <ul class="nav nav-pills pull-right">
             <% if signed_in? %>
               <li class="dropdown">
                 <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><%= current_user.full_name %> <span class="caret"></span></a>
                 <ul class="dropdown-menu">
                   <li><%= link_to 'My profile', edit_users_path %></li>
                   <li><a href="#">My Apps</a></li>
                   <li role="separator" class="divider"></li>
                   <li><%= link_to 'Log out', sign_out_path, method: :delete %></li>
                 </ul>
               </li>
             <% else %>
               <li role="presentation"><%= link_to 'Log in', sign_in_path %></li>
               <li role="presentation"><%= link_to 'Sign up', sign_up_path %></li>
             <% end %>
           </ul>
         </nav>
         <h3 class="text-muted"><a href='/'>GravaClone</a></h3>
       </div>

       <%= yield %>

       <footer class="footer">
         <p>&copy; 2016 Company, Inc.</p>
       </footer>

     </div> <!-- /container -->
  </body>
</html>
